
<div class="message-body">
  <span class="message-text">{{message.body}}</span>
</div>

<div class="timestamp-div">
  <span class="timestamp" id={{concat elementId "timestamp"}}>{{time-converter message.timestamp}}</span>
</div>

{{#liquid-tether
  target=(concat "#" elementId "timestamp")
  attachment="bottom middle"
  targetAttachment="top middle"
  offset='8px 0'
}}
  <div class="chat-message-triangle"></div>
{{/liquid-tether}}
