
<div class="message-body">
  <span class="message-text">{{message.body}}</span>
</div>

<div class="timestamp-div">
  <span class="timestamp">{{time-converter message.timestamp}}</span>
</div>

{{!-- {{#liquid-tether}}
{{/liquid-tether}} --}}
