<img src={{imageSrc}}/ class="employee-image">
<div class="employee-text">
  <div class="employee-title">
    <span>{{personName}}</span>
    <span>@Cool Company</span>
  </div>
  <span>{{message}}</span>
</div>
<img src="https://png.icons8.com/forward/win8/50/000000" class="arrow">
{{yield}}
