
{{#liquid-tether
  target=target
  attachment=connectorAttachment
  targetAttachment=connectorTargetAttachment
}}
    <div class="connector"></div>
{{/liquid-tether}}

{{#liquid-tether
  target=".connector"
  attachment=boxAttachment
  targetAttachment=boxTargetAttachment
  }}
  <div class="box">
    {{yield}}
  </div>
{{/liquid-tether}}
