.mdl-route__detailed-search {

  header {
    background-color: $waldo-red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    height: 160px;

    .search-bars {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100px;
    }

    span.title {
      font-weight: 600;
      font-size: 18px;
      width: 200px;
    }
  }

  .search-list-buttons {
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    background-color: black;
    height: 45px;
    width: 100%;

    button {
      height: 100%;
      font-family: $waldo-font;
      color: white;
      width: 50%;
      text-align: center;
      border-radius: 0px;
      font-weight: 600;
    }

    .saved-search-button {
      border-right: 1px;
      border-right-color: white;
      border-right-style: solid;
    }

    .recent-search-button {
      border-left: 1px;
      border-left-color: white;
      border-left-style: solid;
    }

    #save-search-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;

      img {
        width: 35px;
      }

      .add-search-button {
        width: 100%;
      }
    }
  }

  .search-lists {
    position: fixed;
    margin-top: 205px;
    width: 100%;

    #recent-search {
      display: flex;
      flex-direction: row;
      margin: 15px;

      img {
        width: 15px;
        height: 15px;
        margin: 2px 5px 5px 20px;
      }
    }

    h1 {
      font-family: $waldo-font;
      font-size: 16px;
      font-weight: 600;
    }

    h1#saved-search-heading {
      color: $waldo-red;
      margin: 15px;
    }

    h1#recent-search-heading {
      color: black;
    }

    .job-search-filter {
      display: flex;
      flex-direction: row;

      .search-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: $waldo-font;

        h2.search-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          font-family: $waldo-font;
          margin-bottom: 5px;
        }

        h3.search-location {
          font-size: 10px;
          font-weight: normal;
          line-height: 1;
          font-family: $waldo-font;
        }

        .open-search {
          text-decoration: underline;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    #saved-listing {
      img.search-icon {
        height: 30px;
        background-color: $waldo-red;
        padding: 25px 10px;
        margin: 15px;
      }

      #saved-search-list {
        height: calc(100vh - 305px);
        overflow-y: scroll;
      }
    }

    #recent-listing {
      img.search-icon {
        height: 30px;
        background-color: black;
        padding: 25px 10px;
        margin: 15px;
      }

      #recent-search-list {
        height: calc(100vh - 310px);
        overflow-y: scroll;
      }
    }
  }

  .search-result-list {
    margin-top: 205px;
  }

  .search-list-add-button {
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-top: -45px;
    background-color: black;
    height: 45px;
    width: 100%;

    button {
      height: 100%;
      font-family: $waldo-font;
      color: white;
      width: 50%;
      text-align: center;
      border-radius: 0px;
      font-weight: 600;
    }

    #save-search-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;

      img {
        width: 35px;
      }

      .add-search-button {
        width: 100%;
      }
    }
  }
}
