@import "app-variables";

.mdl-route__sign-in {
  color: white;
  background-color: $waldo-red;
  font-family: $waldo-font;
}

.mdl-form {

  .mdl-textfield {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    label {
      display: none;
    }

    input {
      color: white;
      background-color: $waldo-red;
      border-color: white;
      border-style: solid;
      font-family: $waldo-font;
      border-width: 1px;
      margin: 10px 30px;
      width: calc(100% - 90px);
      padding: 15px;
      font-size: 12px;
    }

    input::placeholder {
      color: white;
    }
  }

  .mdl-button {
    width: 100%;
    background-color: white;
    color: $waldo-red;
    font-family: $waldo-font;
    font-weight: 700;
    text-transform: none;
    border-radius: none;
    border: none;
    height: 50px;
    font-size: 20px;
    box-shadow: none;
  }
}
