@import "reset";
@import "app-variables";
@import "sign-in";

body {
  color: $waldo-red;
  font-family: $waldo-font;
}

span {
  color: $waldo-red;
  font-family: $waldo-font;
}

button {
  color: $waldo-red;
  font-family: $waldo-font;
}
