@import "reset";
@import "app-variables";
@import "sign-in";
@import "ember-power-select";
@import "mdl-route__chat";
@import "components/conversation-entry";

nav.application {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;

  div, .nav-button{
    div {
      border: none;
    }
    img {
      height: 27px;
      width: 27px;
    }
    width: 25%;
    height: $nav-bar-height;
    background: red;
    border: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: white;
    justify-content: center;
  }
}

main {
  height: calc(100vh - #{$nav-bar-height});
}
