header {
  height: $chat-header-height;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $waldo-yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .chat-title {
    width: 80%;
    text-align: center;
    color: white;
  }

  nav {
    width: 95%;
    display: flex;
    .nav-button {
      width: 25%;
      text-align: center;
      height: 20px;
      color: white;
    }
    .nav-button.active {
      border-bottom-style: solid;
      border-bottom-color: white;
      border-bottom-width: 1.4px;
    }
  }
}

.chat-viewport {
  height: calc(100% - #{$chat-header-height} - #{$nav-bar-height});
  top: $chat-header-height;
  position: absolute;
  width: 100%;
}
