.top-header {
  font-family: $waldo-font;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-weight: 600;
  margin: 10px 0px 10px 0px;

  .back {
    font-size: 12pt;
    text-align: left;
  }

  .title {
    text-align: center;
    font-size: 18px;
  }

  .filter {
    font-size: 12pt;
    text-align: right;
  }
}
