.top-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color:white;

  .back {
    font-size: 12pt;
    text-align: left;
  }

  .title {
    text-align: center;
    font-size: 16pt;
  }

  .filter {
    font-size: 12pt;
    text-align: right;
  }
}
