<div class="search-list-buttons">
  <button class="saved-search-button">Saved Searches</button>
  <button class="recent-search-button">Recent Searches</button>
</div>
<div class="search-lists">
  {{job-search-filter
    searchText="UX Designer"
    searchLocation="Indianapolis, IN"
    image=(image-asset "waldo_white.png")
  }}
</div>
