<div class="search-list-buttons">
  <button class="saved-search-button" {{action "showSavedSearches"}}>Saved Searches</button>
  <button class="recent-search-button" {{action "showRecentSearches"}}>Recent Searches</button>
</div>
<div class="search-lists">
  
</div>
