<main>
  {{outlet}}
</main>

{{#if showApplicationTemplate}}
  <nav class='application'>
    {{#link-to "search" class='nav-button'}}
      <div>
        <img src="https://png.icons8.com/search-filled/ios7/39/ffffff">
        <span>Search</span>
      </div>
    {{/link-to}}

    {{#link-to "chat" class='nav-button'}}
      <div>
        <img src="https://png.icons8.com/chat/Dusk_Wired/39/ffffff">
        <span>Chat</span>
      </div>
    {{/link-to}}

    {{#link-to "notifications" class='nav-button'}}
      <div>
        <img src="https://png.icons8.com/notification/Dusk_Wired/39/ffffff">
        <span>Notification</span>
      </div>
    {{/link-to}}

    {{#link-to "profile" class='nav-button'}}
      <div>
        <img src="https://png.icons8.com/user/win10/39/ffffff">
        <span>Profile</span>
      </div>
    {{/link-to}}
  </nav>
{{/if}}
