{{#link-to "chat"}}
  <span>Back</span>
{{/link-to}}

{{#each model.messages as |message|}}
  {{message.body}}
{{/each}}

{{input value=message}}
<button {{action 'sendMessage'}}>Send Message</button>

{{outlet}}
